<footer>
  <div class="footer-container">
    <!-- Logo and Address Section -->
    <div class="footer-section">
      <div class="logo-container">
        <img src="/img/logo_hmj.png" alt="HMJTI Logo" class="footer-logo" />
        <h2 class="footer-title">HMJ Teknologi Informasi</h2>
      </div>
      <div class="address">
        <p>Jl. Mastrip PO.BOX 164 Sumbersari Jember Jawa Timur Indonesia 68101</p>
      </div>
    </div>

    <!-- Navigation Section -->
    <div class="footer-section">
      <h3 class="section-title">Navigation</h3>
      <ul class="footer-links">
        <li><a href="#" class="footer-link">Home</a></li>
        <li><a href="#" class="footer-link">About</a></li>
        <li><a href="#" class="footer-link">Management</a></li>
        <li><a href="#" class="footer-link">News</a></li>
        <li><a href="#" class="footer-link">Contact</a></li>
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="footer-section">
      <h3 class="section-title">Contact Us</h3>
      <a href="mailto:hmjti@polije.ac.id" class="footer-link contact-link"> <i class="fas fa-envelope"></i> hmjti@polije.ac.id </a>
    </div>

    <!-- Social Media Section -->
    <div class="footer-section">
      <h3 class="section-title">Social Media</h3>
      <ul class="footer-links social-links">
        <li>
          <a href="https://www.instagram.com/hmjti_polije/" class="footer-link social-link"> <i class="fab fa-instagram"></i> Instagram </a>
        </li>
        <li>
          <a href="#" class="footer-link social-link"> <i class="fab fa-tiktok"></i> Tiktok </a>
        </li>
        <li>
          <a href="#" class="footer-link social-link"> <i class="fab fa-youtube"></i> Youtube </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>© 2025 HMJ Teknologi Informasi. All rights reserved.</p>
  </div>
</footer>
