<footer>
  <div class="footer-container">
    <!-- Logo and Address Section -->
<<<<<<< HEAD
    <div class="footer-section">
      <div class="logo-container">
        <img src="/img/logo_hmj.png" alt="HMJTI Logo" class="footer-logo" />
        <h2 class="footer-title">HMJ Teknologi Informasi</h2>
=======
    <div class="footer-section brand-section">
      <div class="logo-container">
        <img src="/img/logo_hmj.png" alt="HMJTI Logo" class="logo" />
        <h2 class="organization-name">HMJ Teknologi Informasi</h2>
>>>>>>> e0abf405da1f69c5f5cf9cc91fb6dbe18955d3b2
      </div>
      <div class="address">
        <p>Jl. Mastrip PO.BOX 164 Sumbersari Jember Jawa Timur Indonesia 68101</p>
      </div>
    </div>

    <!-- Navigation Section -->
    <div class="footer-section">
      <h3 class="section-title">Navigation</h3>
      <ul class="footer-links">
<<<<<<< HEAD
        <li><a href="#" class="footer-link">Home</a></li>
        <li><a href="#" class="footer-link">About</a></li>
        <li><a href="#" class="footer-link">Management</a></li>
        <li><a href="#" class="footer-link">News</a></li>
        <li><a href="#" class="footer-link">Contact</a></li>
=======
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/management">Management</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
>>>>>>> e0abf405da1f69c5f5cf9cc91fb6dbe18955d3b2
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="footer-section">
      <h3 class="section-title">Contact Us</h3>
<<<<<<< HEAD
      <a href="mailto:hmjti@polije.ac.id" class="footer-link contact-link"> <i class="fas fa-envelope"></i> hmjti@polije.ac.id </a>
=======
      <a href="mailto:himatekits@gmail.com" class="contact-link"> <i class="far fa-envelope"></i> hmjti@polije.ac.id </a>
>>>>>>> e0abf405da1f69c5f5cf9cc91fb6dbe18955d3b2
    </div>

    <!-- Social Media Section -->
    <div class="footer-section">
      <h3 class="section-title">Social Media</h3>
      <ul class="footer-links social-links">
        <li>
<<<<<<< HEAD
          <a href="https://www.instagram.com/hmjti_polije/" class="footer-link social-link"> <i class="fab fa-instagram"></i> Instagram </a>
        </li>
        <li>
          <a href="#" class="footer-link social-link"> <i class="fab fa-tiktok"></i> Tiktok </a>
        </li>
        <li>
          <a href="#" class="footer-link social-link"> <i class="fab fa-youtube"></i> Youtube </a>
=======
          <a href="#" class="social-link"> <i class="fab fa-instagram"></i> Instagram </a>
        </li>
        <li>
          <a href="#" class="social-link"> <i class="fab fa-tiktok"></i> Tiktok </a>
        </li>
        <li>
          <a href="#" class="social-link"> <i class="fab fa-youtube"></i> Youtube </a>
>>>>>>> e0abf405da1f69c5f5cf9cc91fb6dbe18955d3b2
        </li>
      </ul>
    </div>
  </div>
<<<<<<< HEAD
  <div class="copyright">
    <p>© 2025 HMJ Teknologi Informasi. All rights reserved.</p>
=======

  <div class="copyright">
    <p>&copy; 2025 HMJ Teknologi Informasi. All rights reserved.</p>
>>>>>>> e0abf405da1f69c5f5cf9cc91fb6dbe18955d3b2
  </div>
</footer>
