<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-transparent position-fixed w-100">
  <div class="container">
    <a class="navbar-brand" href="#hero"><img src="img/logo_hmj.png" alt="" width="40" class="me-3" />HMJ TI 2025</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-2">
          <a class="nav-link text-light text-dark" aria-current="page" href="/">Beranda</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light text-dark" href="#BKepengurusan">Tentang</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarTentang" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Kepengurusan
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarTentang">
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">DEPARTEMEN</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">BADAN PENGURUS HARIAN</a></li>
                <li><a class="dropdown-item" href="#">DEPARTEMEN ADMINISTRASI</a></li>
                <li><a class="dropdown-item" href="#">DEPARTEMEN KEILMUAN</a></li>
                <li><a class="dropdown-item" href="#">DEPARTEMEN PERHUBUNGAN</a></li>
                <li><a class="dropdown-item" href="#">DEPARTEMEN KOMINFO</a></li>
                <li><a class="dropdown-item" href="#">DEPARTEMEN KEWIRAUSAHAAN</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">PROGRAM KERJA</a></li>
          </ul>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light text-dark" href="#">Kegiatan</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light text-dark" href="#post">Postingan</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light text-dark" href="berita">Berita</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-light text-dark" href="#contact">Kontak</a>
        </li>
      </ul>
      <a href="#" type="button" class="btn buton">
        <div class="icon">
          <img src="/img/icon toko.png" alt="">
        </div>
        <p class="kwu">KWU HMJTI</p>
      </a>
    </div>
  </div>
</nav>