<section id="about">
    <div class="container-fluid">
        <div class="vision">
            <h5>Who we are</h5>
            <h4>Our Vision</h4>
            <p>Membangun HMJ TI Politeknik Negeri Jember sebagai wadah yang menjunjung jiwa sosial dan kekeluargaan untuk mendukung pengembangan akademik serta nonakademik mahasiswa.</p>
        </div>
        <div class="mission">
            <div class="note">

            </div>
            <div class="deskripsi">
                
            </div>
        </div>
    </div>
</section>