<section id="about">
    <div class="container-fluid d-flex">
        <div class="kiri">
            <div class="vision">
                <h5>Who we are</h5>
                <h2>Our Vision</h2>
                <p>Membangun HMJ TI Politeknik Negeri Jember sebagai wadah yang menjunjung jiwa sosial dan kekeluargaan
                    untuk mendukung pengembangan akademik serta nonakademik mahasiswa.</p>
            </div>
            <div class="mission">
                <h2>Our Mission</h2>
                <div class="first misi">
                    <img src="/img/icon/icon-next.png" alt="">
                    <p>Mengoptimalkan peran HMJ TI sebagai fasilitator utama untuk mendukung pengembangan akademik dan
                        non-akademik mahasiswa melalui program unggulan yang kompetitif dan kolaboratif
                    </p>
                </div>
                <div class="second misi">
                    <img src="/img/icon/icon-next.png" alt="">
                    <p>Memperkuat kolaborasi internal dan eksternal guna membangun solidaritas serta kerjasama yang
                        berkelanjutan
                    </p>
                </div>
                <div class="thirth misi">
                    <img src="/img/icon/icon-next.png" alt="">
                    <p>Mengembangkan program kerja yang berfokus pada kepedulian sosial, kewirausahaan, dan kreativitas
                        mahasiswa untuk memberi dampak nyata pada masyarakat serta memberdayakan mahasiswa Teknologi
                        Informasi.
                    </p>
                </div>
                <div class="fourth misi">
                    <img src="/img/icon/icon-next.png" alt="">
                    <p>Meningkatkan rasa tanggung jawab atas pengelolaan organisasi melalui evaluasi berkala, dokumentasi
                        terstruktur, dan pengembangan sarana pendukung HMJ TI
                    </p>
                </div>
            </div>
        </div>
        <div class="kanan">
            <img src="/img/about-image.png" alt="">
        </div>
    </div>
</section>