<section id="departemen-kewirausahaan">
    <div class="container">
        <h1 class="main-title">Departemen Kewirausahaan</h1>
        <h1 class="title">Program Kerja</h1>
        <p class="description">
            <strong>Departemen Kewirausahaan</strong> hadir sebagai sarana untuk menjaga dan mengembangkan iklim ilmiah bagi
            mahasiswa FEB UI melalui fasilitas yang disediakan. Departemen ini juga mengapresiasi segala prestasi dan
            kontribusi yang diberikan oleh mahasiswa FEB UI.
        </p>

        <div class="cards-container">
            <!-- Awards Card (White background) -->


            <!-- KOMPeK Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Ramadhan Berkah</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Bulan Ramadhan adalah bulan suci penuh berkah, di mana umat muslim menjalankan ibadah puasa, meningkatkan shalat, dzikir, dan bersedekah untuk mendekatkan diri kepada Allah SWT dan memperoleh pahala.
                        </p>
                    </div>
                </div>
            </div>

            <!-- KSPM Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Pengadaan Jaket TI</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Jaket TI adalah simbol kebanggaan dan solidaritas mahasiswa, mencerminkan identitas jurusan Teknologi Informasi dengan desain yang khas. Jaket ini diharapkan nyaman, berkualitas, dan memperkuat identitas mahasiswa TI Politeknik Negeri Jember.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SRD Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Pojok TI</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Stand kewirausahaan adalah sarana yang disediakan
                            oleh jurusan dan dikelola oleh HMJTI untuk
                            menyediakan dan menjual produk-produk serta
                            kebutuhan mahasiswa baik dalam bentuk makanan,
                            minuman dan lain sebagainya.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SDAC Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Penyewaan Barang</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">HMJ TI menyediakan sarana dan prasarana di kesekretariatan melalui agenda peminjaman barang, untuk membantu mahasiswa TI mengatasi masalah sarana dan prasarana dalam melaksanakan kegiatan.  </p>
                    </div>
                </div>
            </div>

            <!-- Publication Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rekap Sekretaris Departemen</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Berita acara mendokumentasikan hasil musyawarah atau kegiatan, termasuk keputusan dan daftar peserta. Presensi mencatat kehadiran, sementara organisasi juga membutuhkan notulensi dan surat-menyurat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Batas slide -->

</section>
<section id="slide_pengurus">
    <div class="container-fluid">
        <div class="layer">
            <div class="carousel-container">
                <button class="nav-button prev">❮</button>
                <div class="carousel">
                    <div class="team-member">
                        <img class="Nauval" src="/img/kewirausahaan/kewirausahaan1.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammad Nauval Hamdhani</h3>
                            <p>Kepala Departemen Kewirausahaan</p>
                            <a href="https://instagram.com/nauval.hamdhani" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kewirausahaan/kewirausahaan2.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Nur Fitri Romadhani</h3>
                            <p>Sekretaris Departemen Kewirausahaan</p>
                            <a href="https://instagram.com/fitri.romadhanii" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kewirausahaan/kewirausahaan3.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Mohammad Danial Kholis</h3>
                            <p>CO Biro Pemasaran, Penjualan Dan Pengembangan Kewirausahaan</p>
                            <a href="https://instagram.com/mohammaddanialkholis" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kewirausahaan/kewirausahaan4.png"alt="Team Member" />
                        <div class="member-info">
                            <h3>Zio Vallentino Gunawan</h3>
                            <p>Anggota Biro Pemasaran, Penjualan Dan Pengembangan Kewirausahaan</p>
                            <a href="https://instagram.com/ziovallentino" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kewirausahaan/kewirausahaan5.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Rola Ashti</h3>
                            <p>Anggota Biro Pemasaran, Penjualan Dan Pengembangan Kewirausahaan</p>
                            <a href="https://instagram.com/hawloola" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kewirausahaan/kewirausahaan6.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ahmad Iqbal Fatoni</h3>
                            <p>Anggota Biro Pemasaran, Penjualan Dan Pengembangan Kewirausahaan</p>
                            <a href="https://instagram.com/aifqll" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kewirausahaan/kewirausahaan7.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Elga Maulana Asyari Al Zam Zaini</h3>
                            <p>Anggota Biro Pemasaran, Penjualan Dan Pengembangan Kewirausahaan</p>
                            <a href="https://instagram.com/maazz_el" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <button class="nav-button next">❯</button>
            </div>
        </div>
    </div>
</section>