<section id="departemen-kominfo">
    <div class="container">
        <h1 class="main-title">Departemen Kominfo</h1>
        <h1 class="title">Program Kerja</h1>
        <p class="description">
            <strong>Departemen Kominfo</strong> hadir sebagai sarana untuk menjaga dan mengembangkan iklim ilmiah bagi
            mahasiswa FEB UI melalui fasilitas yang disediakan. Departemen ini juga mengapresiasi segala prestasi dan
            kontribusi yang diberikan oleh mahasiswa FEB UI.
        </p>

        <div class="cards-container">
            <!-- Awards Card (White background) -->


            <!-- KOMPeK Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Social Media Officer</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Perkembangan sistem informasi menuntut kita untuk selalu up-to-date, menjadikan media sosial penting untuk menyebarkan informasi terkini. Dengan mengoptimalkan akun HMJ TI, informasi dapat disampaikan secara efektif.
                        </p>
                    </div>
                </div>
            </div>

            <!-- KSPM Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Optimalisasi Website</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Pengoptimalan website adalah proses meningkatkan kinerja, kecepatan, dan kemudahan akses website agar lebih cepat dimuat dan mudah ditemukan di mesin pencari.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SRD Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Information Center</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Meningkatkan informasi mengenai info lomba
                            IT/Umum, Beasiswa dalam negeri, seminar dan tempat
                            magang.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SDAC Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rekap Sekretaris Departemen</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Berita acara mendokumentasikan hasil musyawarah atau kegiatan, termasuk keputusan dan daftar peserta. Presensi mencatat kehadiran dalam acara. Organisasi juga membutuhkan notulensi dan surat menyurat.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Batas slide -->

</section>
<section id="slide_pengurus">
    <div class="container-fluid">
        <div class="layer">
            <div class="carousel-container">
                <button class="nav-button prev">❮</button>
                <div class="carousel">
                    <div class="team-member">
                        <img class="reno" src="/img/kominfo/komin1.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Regiant Destriano</h3>
                            <p>Kepala Departemen Kominfo</p>
                            <a href="https://instagram.com/regi4nt" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin2.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Videlma Sufi Romadhani</h3>
                            <p>Sekretaris Departemen Kominfo</p>
                            <a href="https://instagram.com/videll_s.r" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin3.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Abi Nugroho</h3>
                            <p>CO Biro Publikasi & Komunikasi</p>
                            <a href="https://instagram.com/akeong_an" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin4.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ade Cahyadi Enggar Anuraga</h3>
                            <p>Anggota Biro Publikasi & Komunikasi</p>
                            <a href="https://instagram.com/adecahyadi__" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin5.png"alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammad Lukmanul Hakim</h3>
                            <p>Anggota Biro Publikasi & Komunikasi</p>
                            <a href="https://instagram.com/lukmanhaq__" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin6.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Doni Wahyudi</h3>
                            <p>CO Biro Sistem Informasi</p>
                            <a href="https://instagram.com/dni.wyd" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin7.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Mohammad bayu Kristanto</h3>
                            <p>Anggota Biro Sistem Informasi</p>
                            <a href="https://instagram.com/siibayy__" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/kominfo/komin8.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Naufal Yafi Alifudin</h3>
                            <p>Anggota Biro Sistem Informasi</p>
                            <a href="https://instagram.com/upelll.0" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <button class="nav-button next">❯</button>
            </div>
        </div>
    </div>
</section>