<section id="departemen-perhubungan">
    <div class="container">
        <h1 class="main-title">Departemen Perhubungan</h1>
        <h1 class="title">Program Kerja</h1>
        <p class="description">
            <strong>Departemen Perhubungan</strong> hadir sebagai sarana untuk menjaga dan mengembangkan iklim ilmiah
            bagi
            mahasiswa FEB UI melalui fasilitas yang disediakan. Departemen ini juga mengapresiasi segala prestasi dan
            kontribusi yang diberikan oleh mahasiswa FEB UI.
        </p>

        <div class="cards-container">
            <!-- Awards Card (White background) -->


            <!-- KOMPeK Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Apresiasi Wisudawan</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Kegiatan Apresiasi Wisudawan merupakan acara untuk memberikan kesan mendalam, motivasi,
                            serta mempererat hubungan antara wisudawan, mahasiswa aktif, dan mahasiswa baru Teknologi
                            Informasi, sekaligus mendorong semangat meraih kesuksesan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- KSPM Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Ospek Jurusan</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Ospek Jurusan bertujuan memperkenalkan lingkungan akademik dan non-akademik kepada mahasiswa
                            baru Teknologi Informasi, termasuk kurikulum, fasilitas, peluang karir, serta membangun
                            jaringan sosial dan akademik di dalam jurusan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SRD Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Art Of Manunggalan (AOM)</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Penerimaan mahasiswa baru merupakan momen penting untuk mengembangkan dan menunjukkan
                            potensi melalui kegiatan Art Of Manunggalan. Acara ini bertujuan untuk memperkenalkan
                            mahasiswa jurusan Teknologi Informasi satu sama lain serta memberikan kesan positif bagi
                            mahasiswa baru.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SDAC Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">External Relation</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Ibnu Khaldun menyatakan bahwa manusia sebagai makhluk sosial memerlukan interaksi untuk
                            membangun peradaban. Soerjono Soekanto menjelaskan bahwa interaksi sosial adalah dasar dari
                            proses sosial yang melibatkan hubungan dinamis antara individu, kelompok, atau individu dan
                            kelompok. Dengan demikian, interaksi sosial mencakup hubungan timbal balik yang dapat
                            berbentuk kerja sama maupun persaingan. </p>
                    </div>
                </div>
            </div>

            <!-- Publication Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Bina Desa</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Kegiatan bina desa oleh mahasiswa bertujuan memberdayakan masyarakat desa melalui keterampilan, pengetahuan, dan pembangunan. Jurusan Teknologi Informasi dapat meningkatkan produktivitas desa, akses informasi, serta pemberdayaan petani dan UMKM. Kegiatan ini juga mengajarkan manajemen waktu bagi remaja untuk mencapai tujuan akademik dan pribadi.    </p>
                    </div>
                </div>
            </div>
            <!-- Publication Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Imaprodi</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Imaprodi adalah organisasi mahasiswa di Jurusan Teknologi Informasi Politeknik Negeri Jember yang menghadapi berbagai permasalahan. Solusinya adalah dengan menyediakan ruang diskusi, mendorong partisipasi aktif, dan mengelola brainstorming secara efektif.      </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Aspiration Center</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Masukan dari mahasiswa sangat penting untuk meningkatkan kualitas kampus. Wadah aspirasi mahasiswa memungkinkan mereka menyampaikan harapan dan kritik secara langsung, sehingga kampus dapat lebih responsif dan menciptakan lingkungan belajar yang lebih baik.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">IT Care</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Kegiatan tolong-menolong penting untuk menciptakan kebaikan bersama, di mana pihak yang terlibat saling membantu demi kebaikan bersama. Di kalangan mahasiswa, bantuan sosial seperti barang atau uang dapat mempererat hubungan dan menciptakan kampus yang penuh toleransi. IT Care sangat dibutuhkan untuk membantu kita menjadi pribadi yang lebih baik.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rekap Sekretaris Departemen</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Berita acara digunakan untuk mendokumentasikan hasil musyawarah atau kegiatan, termasuk keputusan dan daftar peserta. Presensi mencatat kehadiran dalam suatu acara, sementara organisasi juga membutuhkan notulensi dan surat-menyurat untuk kelancaran administrasi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Batas slide -->

</section>
<section id="slide_pengurus">
    <div class="container-fluid">
        <div class="layer">
            <div class="carousel-container">
                <button class="nav-button prev">❮</button>
                <div class="carousel">
                    <div class="team-member">
                        <img class="Ayu" src="/img/Perhubungan/perhub1.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Gusti Ayu Dhyananti</h3>
                            <p>Ketua Departemen Perhubungan</p>
                            <a href="https://instagram.com/gstiayy_" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub2.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>M. Syahril Sobirin Abi Suprapto</h3>
                            <p>Anggota Biro Internal TKK</p>
                            <a href="https://instagram.com/sfyaan._" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub3.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Zafar Muhammad Nur Ridwan</h3>
                            <p>Anggota Biro Internal TIF</p>
                            <a href="https://instagram.com/zafar_mnr" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub4.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Moch Akmal Abdullah</h3>
                            <p>Anggota Biro Internal MIF</p>
                            <a href="https://instagram.com/ackoye21" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub5.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammda Nafis Maulana S.</h3>
                            <p>Anggota Biro Internal BWS</p>
                            <a href="https://instagram.com/mhmdnfsz_" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub6.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Marah Nafiah Lilghoiri</h3>
                            <p>Anggota Biro Internal BWS</p>
                            <a href="https://instagram.com/mnafiahlilghoiri" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub7.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Refita Intan Aulia Nafisa</h3>
                            <p>Anggota Biro Internal SDA</p>
                            <a href="https://instagram.com/fitaaa_013" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub8.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Nadila Dewi Mustika</h3>
                            <p>Anggota Biro Internal SDA</p>
                            <a href="https://instagram.com/nadilaadewi_" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub9.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Senandika Bening Kinasih</h3>
                            <p>Sekretaris Departemen Perhubungan</p>
                            <a href="https://instagram.com/eviag822" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub10.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ervania Wahyu Artieka Putri</h3>
                            <p>Biro Internal NGK</p>
                            <a href="https://instagram.com/erpaniaaa" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub11.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Febriani Amalia Nurhasanah</h3>
                            <p>Biro Internal NGK</p>
                            <a href="https://instagram.com/itsfebrii.hsnh" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub12.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Oktaviana Nuravivah</h3>
                            <p>Biro Internal NGK</p>
                            <a href="https://instagram.com/haviva_vn" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub13.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ach. Humaidi Aidil Kamal</h3>
                            <p>CO Biro Eksternal</p>
                            <a href="https://instagram.com/aidil.kml_" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub14.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammad Affan Jullanar Ridak</h3>
                            <p>Anggota Biro Eksternal</p>
                            <a href="https://instagram.com/mhmd_affanjr" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/perhubungan/perhub15.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Yunis Intan</h3>
                            <p>Anggota Biro Eksternal</p>
                            <a href="https://instagram.com/nhiss._" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <button class="nav-button next">❯</button>
            </div>
        </div>
    </div>
</section>