<section id="departemen-administrasi">
    <div class="container">
        <h1 class="main-title">Departemen Administrasi</h1>
        <h1 class="title">Program Kerja</h1>
        <p class="description">
            <strong>Departemen Administrasi</strong> hadir sebagai sarana untuk menjaga dan mengembangkan iklim ilmiah bagi
            mahasiswa FEB UI melalui fasilitas yang disediakan. Departemen ini juga mengapresiasi segala prestasi dan
            kontribusi yang diberikan oleh mahasiswa FEB UI.
        </p>

        <div class="cards-container">
            <!-- Awards Card (White background) -->


            <!-- KOMPeK Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Sosialisasi Himpunan Mahasiswa Jurusan Teknologi
                            Informasi</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Mahasiswa TI belum sepenuhnya memahami HMJ TI, program kerja, dan tujuannya. Untuk itu, sosialisasi HMJ TI akan diadakan untuk mengenalkan struktur keanggotaan, program kerja, dan agenda HMJ TI, dengan harapan meningkatkan pemahaman dan partisipasi mahasiswa.
                        </p>
                    </div>
                </div>
            </div>

            <!-- KSPM Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Latihan Dasar Kepemimpinan dan PelantikanPengurus Himpunan Mahasiswa Jurusan Teknologi Informasi.</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Perekrutan pengurus baru adalah agenda penting untuk memastikan kesinambungan nilai dan visi organisasi. Oleh karena itu, kegiatan Latihan Dasar Kepemimpinan (LDK) diadakan untuk menanamkan jiwa kepemimpinan disiplin, amanah, dan bertanggung jawab kepada pengurus baru HMJ TI.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SRD Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Latihan Keterampilan Manajemen Mahasiswa Tingkat Dasar (LKMM - TD)</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Keterampilan manajerial dan soft skill penting bagi mahasiswa untuk mengelola kegiatan dan bersaing di dunia luar kampus. Organisasi kampus membantu mengembangkan keterampilan ini sebagai bekal masa depan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SDAC Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Reformasi</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Pergantian pengurus HMJ TI setelah satu periode dilakukan melalui pemilihan pengurus baru. Pengurus lama memilih calon anggota baru, termasuk Ketua dan Wakil. Program ini memberikan peluang bagi mahasiswa untuk berpartisipasi dan bergabung, serta diharapkan dapat membawa HMJ TI ke arah yang lebih baik. </p>
                    </div>
                </div>
            </div>

            <!-- Publication Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rapat Anggota Tahunan</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Rapat Anggota Tahunan (RAT) adalah agenda penting bagi HMJ TI, di mana pengurus memaparkan laporan pertanggungjawaban atas program kerja selama satu periode kepada mahasiswa Jurusan Teknologi Informasi.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Harmonisasi Pengurus Himpunan Mahasiswa Jurusan Teknologi Informasi</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Tujuan bersama dalam organisasi memerlukan kerjasama tim yang baik. Untuk mengatasi konflik dan kesalahpahaman yang muncul, HMJ TI menyelenggarakan kegiatan Harmonisasi Pengurus agar anggota dapat saling mengenal dan menciptakan hubungan yang harmonis.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rapat Evaluasi Bulanan</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Rapat Evaluasi Bulanan (REB) adalah kegiatan rutin untuk mengevaluasi kinerja pengurus HMJ TI, memantau pencapaian bulanan, dan memastikan kinerja yang maksimal. REB juga berfungsi untuk mempertanggungjawabkan setiap departemen atas program kerja dan agenda yang telah dilaksanakan.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Manajemen Sekretariat</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Kesekretariatan HMJ TI seringkali menjadi berantakan seiring waktu. Dengan adanya jadwal piket harian, kebersihan dan kenyamanan sekretariat dapat terjaga, mendukung produktivitas anggota.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rekap Sekretaris Departemen</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Berita acara digunakan untuk mendokumentasikan hasil musyawarah atau kegiatan, termasuk keputusan dan daftar peserta. Presensi berfungsi untuk mencatat kehadiran dalam suatu acara. Selain itu, organisasi juga membutuhkan notulensi dan surat-menyurat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Batas slide -->

</section>
<section id="slide_pengurus">
    <div class="container-fluid">
        <div class="layer">
            <div class="carousel-container">
                <button class="nav-button prev">❮</button>
                <div class="carousel">
                    <div class="team-member">
                        <img class="tiara" src="/img/administrasi/admin1.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Naura Dwi Setyaningsih</h3>
                            <p>Kepala Departemen Administrasi</p>
                            <a href="https://instagram.com/nouradws_" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin2.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Alya Rachma Kamila</h3>
                            <p>Sekretaris Departemen Administrasi</p>
                            <a href="https://instagram.com/alyarachk" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin3.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ahmad Maulana Febri Hananto</h3>
                            <p>CO Biro Kesektariatan</p>
                            <a href="https://instagram.com/ahmad_maulanafh" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin4.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ahmad Rifa'i</h3>
                            <p>Anggota Biro Kesektariatan</p>
                            <a href="https://instagram.com/rifaiuye241" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin5.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammad Miqdad Firdaus Arridho</h3>
                            <p>Anggota Biro Kesektariatan</p>
                            <a href="https://instagram.com/1stcorpscommander" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin6.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Ovi Octa Rama Dhani</h3>
                            <p>Anggota Biro Kesektariatan</p>
                            <a href="https://instagram.com/ovioctard" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin7.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Indra Nur Haffiyan</h3>
                            <p>Anggota Biro Kesektariatan</p>
                            <a href="https://instagram.com/indraaaaa_03" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/administrasi/admin8.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Bryan Jeremi Byakta Sinaga</h3>
                            <p>Anggota Biro Kesektariatan</p>
                            <a href="https://instagram.com/jeremi_efo" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <button class="nav-button next">❯</button>
            </div>
        </div>
    </div>
</section>