<section id="departemen-keilmuan">
    <div class="container">
        <h1 class="main-title">Departemen Keilmuan</h1>
        <h1 class="title">Program Kerja</h1>
        <p class="description">
            <strong>Departemen Keilmuan</strong> hadir sebagai sarana untuk menjaga dan mengembangkan iklim ilmiah bagi
            mahasiswa FEB UI melalui fasilitas yang disediakan. Departemen ini juga mengapresiasi segala prestasi dan
            kontribusi yang diberikan oleh mahasiswa FEB UI.
        </p>

        <div class="cards-container">
            <!-- Awards Card (White background) -->


            <!-- KOMPeK Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Competition Center</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Mahasiswa JTI membutuhkan wadah untuk menyalurkan prestasi akademik melalui berbagai kompetisi di bidang teknologi informasi, baik di dalam maupun luar kampus, seperti PKM, KMIPN, dan Gemastik. Mengikuti kompetisi ini tidak hanya menambah pengetahuan, tetapi juga bermanfaat untuk menunjang karir di masa depan.
                        </p>
                    </div>
                </div>
            </div>

            <!-- KSPM Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Expo Pekan Ilmiah Mahasiswa (EPIM)</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Expo Pekan Ilmiah Mahasiswa (EPIM) diadakan sebagai wadah untuk menyalurkan bakat siswa dan mahasiswa melalui lomba WEB Programming, Design Packaging, dan EXPO karya JTI. Kegiatan ini bertujuan meningkatkan jiwa kompetitif, memamerkan karya, serta mempromosikan Jurusan Teknologi Informasi dan Politeknik Negeri Jember.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SRD Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Latihan Keterampilan Manajemen Mahasiswa Pra-Tingkat Dasar (LKMM Pra-TD)</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Kemampuan manajemen diri dan kegiatan sangat penting dimiliki mahasiswa. Untuk itu, diperlukan pembekalan melalui kegiatan LKMM Pra-TD yang membekali mahasiswa baru dengan dasar-dasar manajemen, kepemimpinan, dan kerja sama, agar mereka lebih efektif berkontribusi di lingkungan kampus maupun luar, serta siap menghadapi tantangan akademik dan non-akademik selama masa studi.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SDAC Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Speakpreneur Creator Academy</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Speakpreneur Creator Academy hadir untuk membekali mahasiswa baru dengan keterampilan public speaking, kreativitas, dan jiwa kewirausahaan. Program ini mendorong kepercayaan diri, mengembangkan ide bisnis, serta melatih pembuatan konten kreatif untuk menciptakan peluang dan berkontribusi di era digital.</p>
                    </div>
                </div>
            </div>

            <!-- Publication Flip Card -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Information Technology Competition (ITC)</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">
                            Program kerja Information Technology Competition (ITC) diselenggarakan sebagai wadah bagi mahasiswa Jurusan Teknologi Informasi Politeknik Negeri Jember untuk menyalurkan minat dan bakat di bidang IT maupun non-IT. ITC terdiri dari tiga lomba, yaitu esports, futsal, dan basket, yang bertujuan untuk menggali potensi serta mengembangkan kemampuan mahasiswa di masing-masing bidang.        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="card-title">Rekap Sekretaris Departemen</h2>
                    </div>
                    <div class="flip-card-back">
                        <p class="card-content">Berita acara digunakan untuk mendokumentasikan  hasil suatu musyawarah atau kegiatan, termasukkeputusan yang diambil dan daftar peserta yang hadir.  Presensi berfungsi untuk mencatat dan memantau kehadiran seseorang dalam suatu kegiatan atau acara. Kebutuhan organisasi juga tidak luput dengan  notulensi serta surat menyurat
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Batas slide -->

</section>
<section id="slide_pengurus">
    <div class="container-fluid">
        <div class="layer">
            <div class="carousel-container">
                <button class="nav-button prev">❮</button>
                <div class="carousel">
                    <div class="team-member">
                        <img class="nashwa" src="/img/keilmuan/keilmuan1.png" alt="Team Member" />
                        <div class="member-info">
                            <h3>Nashwa Putri Ayesha</h3>
                            <p>Kepala Departemen Keilmuan</p>
                            <a href="https://instagram.com/naashwaay" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan2.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Lisa Rahmawati Putri</h3>
                            <p>Sekretaris Departemen</p>
                            <a href="https://instagram.com/lisarhmwtii" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan3.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>M. Anang Ma'ruf</h3>
                            <p>CO Biro Pengembangan Akademik</p>
                            <a href="https://instagram.com/naradhiptaa__" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan4.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Apriliya Dwi Legina</h3>
                            <p>Anggota Biro Pengembangan Akademik</p>
                            <a href="https://instagram.com/aprill.yya" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan5.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Revina Eka Maharani</h3>
                            <p>Anggota Biro Pengembangan Akademik</p>
                            <a href="https://instagram.com/pynna_006" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan6.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Shergi Reyhan Affarizqi</h3>
                            <p>Anggota Biro Pengembangan Akademik</p>
                            <a href="https://instagram.com/zeemones" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan7.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Azriel Akbar Zackiansyah</h3>
                            <p>Anggota Biro Pengembangan Akademik</p>
                            <a href="https://instagram.com/azriealakbarr" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan8.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Iqsanul Ulum</h3>
                            <p>CO Biro Pengembangan Non-Akademik</p>
                            <a href="https://instagram.com/iqsnllumm_" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan9.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammad Rizal</h3>
                            <p>Anggota Biro Pengembangan Non-Akademik</p>
                            <a href="https://instagram.com/mrzzzll" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan10.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Muhammad Nadib</h3>
                            <p>Anggota Biro Pengembangan Non-Akademik</p>
                            <a href="https://instagram.com/nadib73" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="team-member">
                        <img src="/img/keilmuan/keilmuan11.png"  alt="Team Member" />
                        <div class="member-info">
                            <h3>Almira Sofia Widiantini</h3>
                            <p>Anggota Biro Pengembangan Non-Akademik</p>
                            <a href="https://instagram.com/almii__raaa" class="instagram-link" target="_blank">
                                <img src="/img/icon/icon-ig.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <button class="nav-button next">❯</button>
            </div>
        </div>
    </div>
</section>