<section id="hero">
    <div class="container-fluid h-100 ">
        <div class="left">
            <div class="welcome">
                <h4>WELCOME TO</h4>
            </div>
            <div class="hmjti">
                <h2>HMJTI 2025</h2>
            </div>
            <div class="deskripsi">
                <p>The Information Technology Department Student Association is a student organixzation that was born
                    from
                    a strong will and is based on a common perception, responsibility and sense of belonging to develop
                    Information Technology under the auspices of the Information Technology Department of Jember State
                    Polytechnic.
                </p>
            </div>
            <div class="discoverme ">
                <a href="#" class="discover" type="button">DISCOVER ME</a>
                <a href="#" class="iconplay" type="button"><img src="/img/icon play.png" alt=""></a>
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugiat excepturi consectetur eaque
        perspiciatis inventore unde id beatae voluptatibus quaerat velit ad maxime ullam rerum hic nihil, maiores labore
        optio! Sint, quidem, maiores atque officia laboriosam sunt dolorum culpa alias velit aliquam, quasi deleniti
        consequuntur. Placeat voluptas dolores ut ullam quis minus. Ipsa consectetur, quia maiores cumque nesciunt
        itaque? Saepe soluta architecto eius, et voluptates nostrum quasi perferendis aspernatur voluptate ipsam officia
        consequatur modi laboriosam? Maiores aliquam voluptatibus voluptatum, vel mollitia ipsam nulla, in voluptates
        doloremque placeat corrupti impedit aliquid quibusdam! Delectus fugit id perspiciatis similique quisquam, earum
        maiores error. Deserunt corrupti, placeat quam neque cumque aut corporis. Nesciunt commodi fugiat fugit
        molestiae voluptatibus optio vero error non sequi ducimus consequatur minima est, nulla blanditiis dicta
        voluptatum repudiandae fuga dolorem! Ab dolorem quas neque cupiditate, dicta debitis totam? Ad illum, ratione
        laboriosam ipsa vero ut quis dolorum sunt praesentium ducimus esse a doloremque nulla pariatur. Vel nam quidem
        ipsum similique saepe, natus cumque pariatur commodi molestiae veniam, eos ex mollitia. Harum quis, id quae
        libero sequi cupiditate necessitatibus odit, a corporis perferendis natus. Aliquid officia voluptatum quasi
        dignissimos nostrum culpa illo fuga excepturi facilis voluptatem aperiam odit a suscipit in quibusdam
        consequatur modi magni saepe ipsum sint, voluptates eligendi quo. Tenetur similique et accusamus saepe sint eum
        nam velit odio explicabo, libero distinctio consequuntur repudiandae. Neque cumque ullam modi ipsum, aperiam
        possimus, animi nesciunt sed, ut voluptatum quam consequatur sapiente aut eius enim odio non velit suscipit qui
        sunt totam est quos explicabo. Sit debitis adipisci, dolores expedita quae reprehenderit, itaque doloribus
        distinctio quidem neque ab? Pariatur explicabo perspiciatis autem, ab quibusdam officia fugiat obcaecati
        deleniti quo quia eaque magni. Enim voluptates quas dicta animi? Et, dolore maxime! Veniam, fugiat quia! Illo
        nostrum possimus voluptatibus eligendi quibusdam nam iusto consequuntur voluptates dolore quos cum reprehenderit
        itaque illum repellendus aliquid velit, mollitia necessitatibus nisi! Non possimus temporibus, necessitatibus
        ipsam voluptatem fugiat vitae dolorum vel quisquam molestiae id inventore doloribus praesentium eius optio nobis
        perspiciatis a aliquid recusandae, ex ducimus veritatis. Vero, rem reprehenderit. Veritatis voluptate obcaecati
        aspernatur dolorem eius iste et molestias beatae id reprehenderit ex repellat sapiente autem, mollitia excepturi
        suscipit minima, dicta vero hic quis voluptatum unde? Pariatur aliquam odit totam impedit, enim perferendis
        ullam consequatur doloribus libero non exercitationem temporibus, necessitatibus aspernatur nobis nemo
        doloremque, quod eligendi tenetur a obcaecati consectetur fugit reprehenderit inventore architecto. Illum
        deleniti odit temporibus debitis aliquam fugiat nam ipsa corporis ab autem sequi saepe quidem suscipit earum,
        cupiditate fuga in doloribus provident, voluptatum error. Velit asperiores consequuntur totam porro maiores
        eligendi expedita fugit dolorem doloribus voluptatem iusto, quasi officiis laborum libero aspernatur? Impedit
        possimus pariatur iusto fugit? Laudantium sapiente, at ratione esse quidem, odit, alias rem culpa dolorem
        laboriosam nobis sint excepturi dicta similique minima ipsam voluptatum quo? Animi facere excepturi ex non autem
        laudantium quos. Vitae voluptatem ipsam exercitationem ad nemo inventore, nisi voluptatibus illo amet vel
        accusantium nobis provident aut quisquam rerum officia ullam expedita, numquam quam, atque dignissimos
        consequatur laboriosam!</p>
</section>