<section id="management">
  <div class="container-fluid">
    <img src="/img/management-image.svg" alt="" />
    <div class="layer">
      <div class="header">
        <h1>Our Team</h1>
        <p>Badan Pengurus Harian</p>
      </div>

      <div class="carousel-container">
        <button class="nav-button prev">❮</button>
        <div class="carousel">
          <div class="team-member">
            <img class="tiara" src="/img/bph/coba.png" alt="Team Member" />
            <div class="member-info">
              <h3>Tiara Agustina Putri Wulandari</h3>
              <p>Ketua</p>
              <a href="https://instagram.com/tiiaraptr._" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/bph/wakil_ketua.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>Wakil Ketua</p>
              <a href="https://instagram.com/sfyaan._" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/bph/sekretaris1.png" alt="Team Member" />
            <div class="member-info">
              <h3>Liana Dewi Triantoko</h3>
              <p>sekertaris 1</p>
              <a href="https://instagram.com/liyyanah._" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/bph/sekretaris2.png" alt="Team Member" />
            <div class="member-info">
              <h3>Senadika Bening Kinasih</h3>
              <p>sekretaris 2</p>
              <a href="https://instagram.com/senandikns" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/bph/bendahara1.png" alt="Team Member" />
            <div class="member-info">
              <h3>Juliana Intan Purwaningtyas</h3>
              <p>Bendahara 1</p>
              <a href="https://instagram.com/ntan.jp" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/bph/bendahara2.png" alt="Team Member" />
            <div class="member-info">
              <h3>Evi Agustina</h3>
              <p>Bendahara 2</p>
              <a href="https://instagram.com/eviag822" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <button class="nav-button next">❯</button>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section class="image-section">
    <!-- First Row -->
    <div class="image-container">
      <div class="image-wrapper">
        <img src="/img/departemen/1.png" alt="Left Image">
      </div>
      <a href="/departemen-keilmuan" class="read-more-btn">READ MORE</a>
    </div>

    <div class="image-container">
      <div class="image-wrapper">
        <img src="/img/departemen/administrasi.png" alt="Right Image">
      </div>
      <a href="/departemen-perhubungan" class="read-more-btn">READ MORE</a>
    </div>

    <!-- Second Row -->
    <div class="image-container">
      <div class="image-wrapper">
        <img src="/img/departemen/perhubungan.png" alt="Left Image">
      </div>
      <a href="/departemen-administrasi" class="read-more-btn">READ MORE</a>
    </div>

    <div class="image-container">
      <div class="image-wrapper">
        <img src="/img/departemen/perhubungan.png" alt="Left Image">
      </div>
      <a href="/departemen-kominfo" class="read-more-btn">READ MORE</a>
    </div>

    <!-- Third Row - Centered -->
    <div class="image-container center-container">
      <div class="image-wrapper">
        <img src="/img/departemen/perhubungan.png" alt="Left Image">
      </div>
      <a href="/departemen-kewirausahaan" class="read-more-btn">READ MORE</a>
    </div>
  </section>
</div>