<section id="management">
  <div class="container-fluid">
    <img src="/img/management-image.svg" alt="" />
    <div class="layer">
      <div class="header">
        <h1>Our Team</h1>
        <p>Badan Pengurus Harian</p>
      </div>

      <div class="carousel-container">
        <button class="nav-button prev">❮</button>
        <div class="carousel">
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>Ketua</p>
              <a href="https://instagram.com/username1" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>Wakil Ketua</p>
              <a href="https://instagram.com/Bayyykr" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>sekertaris</p>
              <a href="https://instagram.com/username1" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>sekertaris</p>
              <a href="https://instagram.com/username1" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>sekertaris</p>
              <a href="https://instagram.com/username1" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>sekertaris</p>
              <a href="https://instagram.com/username1" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="team-member">
            <img src="/img/Group 81.png" alt="Team Member" />
            <div class="member-info">
              <h3>Achmad Sofyan Hakiki</h3>
              <p>sekertaris</p>
              <a href="https://instagram.com/username1" class="instagram-link" target="_blank">
                <img src="/img/icon/icon-ig.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <button class="nav-button next">❯</button>
      </div>
    </div>
  </div>
</section>
