body {
  padding: 0px;
}

/* Navbar */
.navbar {
  z-index: 3;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 15px 0;
  /*Ukuranpaddingawal*/
  -webkit-transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.navbar-transparent {
  background: transparent;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.navbar-scrolled {
  /* background: rgba(255, 255, 255, 1); */
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Opsional */
  padding: 10px;
  /* Ukuran padding setelah scroll */
}

.navbar-transparent .navbar-brand {
  color: white;
  font-weight: 700;
  font-size: 20px;
  /*Ukuranfontawal*/
  transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
}

.navbar-scrolled .navbar-brand {
  font-size: 16px;
  /*Ukuranfontsetelahscroll*/
  font-weight: 700;
  color: #000000;
  transition: font-size 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
}

.navbar-scrolled .navbar-brand:hover {
  font-size: 16px;
  /* Ukuran font setelah scroll */
  color: #000000;
}

.nav-link {
  font-size: 16px;
  /* font-weight: bold; */
  color: white !important;
}

.nav-link:hover {
  font-weight: bold;
  transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -webkit-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -moz-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -ms-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -o-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
}

.navbar-scrolled .nav-link {
  color: black !important;
}

.navbar-scrolled .nav-link:hover {
  color: #4C8597 !important;
}

.nav-item.active .nav-link {
  border-bottom: 2px solid #000000;
  font-weight: bold;
  transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -webkit-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -moz-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -ms-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
  -o-transition: border-bottom 0.1s ease, font-weight 0.1s ease;
}

.collapse .buton {
  display: flex;
  flex-direction: row;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 155px;
  color: white;
  border-radius: 10px;
  background: rgba(215, 215, 215, 44%);
  box-shadow: 1.5px 3px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navbar-scrolled .collapse .buton {
  background: black;
}

.navbar-scrolled .collapse .buton p {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-scrolled .collapse .buton p:hover {
  background: linear-gradient(73.1deg, #7FDFFD 32.63%, #4C8597 59.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle[aria-expanded="true"] {
  font-weight: bold;
}

.navbar-scrolled .dropdown-toggle[aria-expanded="true"] {
  background: linear-gradient(0deg, #4C8597, #4C8597);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collapse .buton .kwu {
  margin-top: 16px;
}

.collapse .buton .icon {
  width: 28px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: linear-gradient(130.73deg, #5DDCA5 3.43%, #327659 100%);
}

.collapse .buton .icon img {
  height: 20px;
}

/* HERO SECTION */

#hero {
  padding-top: 80px;
  height: 100vh;
  background-image: url('/img/bg_hero.png');
  background-size: cover;
}

#hero .container-fluid {
  align-content: center;
}

#hero .container-fluid .left {
  width: 500px;
  height: 350px;
}

#hero .container-fluid .welcome {
  width: 147px;
  height: 38px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background: linear-gradient(90deg, #4C8597 0%, #7FDFFD 98%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  position: relative;
  z-index: 1;
  left: 108px;
  top: 12px;
}

#hero .container-fluid .welcome h4 {
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
  color: white;
  font-weight: 700  ;
}

#hero .container-fluid .hmjti {
  width: 261px;
  height: 66px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: linear-gradient(90deg, #4C8597 0%, #7FDFFD 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  left: 50px;
  position: relative;
  text-align: center;
  align-content: center;
}

#hero .container-fluid .hmjti h2 {
  font-size: 30px;
  padding-top: 10px;
  font-weight: 700;
  color: white;
}

#hero .container-fluid .deskripsi {
  font-size: 16px;
  width: 435px;
  height: 145px;
  position: relative;
  left: 51px;
  margin-top: 25px;
}

#hero .container-fluid .discoverme {
  margin-top: 25px;
  display: flex;
  gap: 25px;
  position: relative;
  left: 51px;
}

#hero .container-fluid .discoverme .discover {
  width: 261px;
  height: 66px;
  border-radius: 10px ;
  background: linear-gradient(90deg, #4C8597 0%, #7FDFFD 99.99%);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  align-content: center;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  font-weight: 700;
}

#hero .container-fluid .discoverme .iconplay {
  justify-content: center;
  align-content: center;
  width: 66.35px;
  height: 66px;
  padding-left: 20px;
  border-radius: 50px;
  background: linear-gradient(180deg, #4275BB 0%, #64A5FF 100%);
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* ABOUT SECTION */
#about{
  background-color: #7FDFFD;
  height: 100vh;
  background-image: url('/img/about-cover.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}